<nav class="navbar is-dark" role="navigation" aria-label="main navigation" [ngClass]="navbarFixed?'fixed':'notFixed'">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/favicon.ico" routerLink="/"/>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="toggleMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item" routerLink="/">Home</div>
      <div class="navbar-item" routerLink="/about">About</div>
      <div class="navbar-item"routerLink="/gallery">Gallery</div>
      <div class="navbar-item" routerLink="/blog">Blog</div>
      <div class="navbar-item" routerLink="/contact">Contact</div>
      <button *ngIf="logged" routerLink="dashboard">Write A Post</button>
    </div>
    </div>
</nav>