<footer id="footer">
    <div class="columns">
        <div class="column">
          
        </div>
        <div class="column">
            <p class="author">Made by Robert Chung</p>
        </div>
        <div class="column icons">
            <a href="https://www.linkedin.com/in/robert-b-chung/">
                <img class="imgIcon" src="../../assets/linkedin-brands.svg">
            </a>
            <fa-icon class="myIcons fa-xl" [icon]="faHome" routerLink="/"></fa-icon>
        </div>
      </div>
</footer>
