<section class="about">
    <div class="main">
        <img class="display" src="../../assets/mountain.jpg">
        <div class="about-text">
            <h1>About Me</h1>
            <a class="button is-rounded is-danger" download href="../../assets/cv.pdf">Resume/CV</a>
            <a class="button is-rounded is-danger" type="submit" routerLink="/contact">Contact Me</a>
            <h5>Developer</h5>
            <p>I'm a software developer with the dream of becoming a full stack developer. I enjoy making random game ideas
                and making random models in blender. I also built this site and will be updating it with new features and
                blog posts on my development journeys.
            </p>
            <h5>Skills/Frameworks</h5>
            <img class="skills" src="../../assets/Java.png">
            <img class="skills" src="../../assets/Angular.png">
            <img class="skills" src="../../assets/Javascript-shield.svg.png">
            <img class="skills" src="../../assets/html.png">
            <img class="skills" src="../../assets/css.png">
            <img class="skills" src="../../assets/unity.png"><br>
        </div>
    </div>
</section>