<section id="blog">
  <div class="blog-heading">
    <h3>My Recent Posts</h3>
  </div>
</section>
<section class="posts">
  <div *ngFor="let post of postArray">
    <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{post.imageUrl}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" routerLink="{{post.id}}">{{post.title}}</p>
              <p class="subtitle is-6">{{post.author}}</p>
            </div>
          </div>
          
          <div class="content">
            {{post.content}}
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </section>