body {
  overflow-x: visible;
}

.hero{
    background-image: url('/assets/mountain.jpg') !important;
    background-size: cover;
    background-position: center center;
    overflow: visible;
  }

.hero2{
  background-image: url('/assets/nightSky.jpg') !important;
  background-size: cover;
  background-position: center center;
}

.intro{
  padding-left: 200px;
}

.message-card{
  padding-right: 100px;
}

@media screen and (max-width: 650px) {
  .intro{
    padding-left: 0px;
  }

  .poster{
    max-width: 15% vw;
  }

  .message-header{
    max-width: 15% vw;
  }

  .message-card{
    padding: 0px;
    padding-bottom: 50px;
  }
  
}

#myVideo{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}