  <!--Home-->
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="intro">
          <p class="subtitle">
            Hello my name is
          </p>
          <p class="title">
            Robert Chung
          </p>
          <p class="subtitle">
            Developer
          </p>
          <p class="subtitle">
            Let's build
          </p>
          <!-- <video autoplay muted id="myVideo">
            <source src="../../assets/cube.mp4" type="video/mp4">
          </video> -->
        </div>
      </div>
    </section>
    <!--About Me-->
    <section class="section hero2" style="padding-top: 200px; padding-bottom: 200px">
      <h2 class="subtitle">
        <div class="columns">
          <div class="column">
            
          </div>
          <div class="column message-card">
            <article class="message">
              <div class="message-header">
                <p>This is my portfolio</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                <p>Hello, I'm Robert I made this site to blog about things that i've made like this website 
                and games ideas that i'm developing and testing out. </p><br/>
                <p>It is my dream to become a professional 
                full stack engineer and building this website will put me on this road. (Hopefully). </p>
              </div>
            </article>
          </div>
          <div class="column">
            <img class="poster" src="../../assets/Logo.png">
          </div>
          <div class="column">
            
          </div>
        </div>
      </h2>
    </section>